# Dependencias
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Archivos de entorno
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local
.env.keys

# Archivos de construcción
/build/
/dist/
/out/
/.next/
/web-build/
/.expo/
expo-env.d.ts

# Archivos de caché
.cache/
.parcel-cache/
.npm
.eslintcache
.stylelintcache
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

# Archivos de logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

# Archivos de sistema
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Archivos de IDE y editores
/.idea/
/.vscode/
*.swp
*.swo
*.sublime-workspace
*.sublime-project
.project
.classpath
.c9/
*.launch
.settings/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.cursor/

# Archivos de testing
/coverage/
/.nyc_output/
/cypress/videos/
/cypress/screenshots/

# Archivos específicos de Supabase
.branches
.temp
**/supabase/.branches/
**/supabase/.temp/
**/supabase/seed.sql
*.dump
*.dump.sql
database_dump.sql
users_dump.sql
.supabase/

# Archivos específicos de React Native / Expo
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.ipa
*.apk
*.aab
.metro-health-check*

# Archivos específicos de iOS
/ios/Pods/
/ios/build/
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace

# Archivos específicos de Android
/android/build/
/android/app/build/
/android/.gradle
/android/local.properties
/android/*.iml
/android/.idea
/android/.cxx/
/android/*.keystore
!/android/debug.keystore

# TypeScript
*.tsbuildinfo

# Archivos temporales
*.tmp
*.temp
.specstory/ 